
* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

body {
font-family: 'Segoe UI', sans-serif;

background-color: #fff0f5;

color: #333; }
.header {
background-color: #6a0dad;

color: white;
padding: 20px;
display: flex;
justify-content: space-between;

align-items: center;
}

.nav a {
color: white;
margin-left: 20px;
text-decoration: none;
font-weight: bold;
}

.banner {
background-color: #ff69b4;
text-align: center;
color: white;
padding: 80px 20px;
}
.materias4to {
display: flex;
flex-direction: row;
justify-content: space-around;
padding: 40px 20px;

}

.tec{
text-align: center;
margin-left: 30px;
padding: 20px;
border-radius: 10px;    
background-color: white;
border-radius: 10px;
padding: 20px;
margin: 20px;
width: 250px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
text-align: center;
}
.tec button{
    margin-top: 10px;
padding: 10px;
background-color: #ff1493;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.tec button:hover {
    background-color: #c71585;}


.materias {
background-color: white;
border-radius: 10px;
padding: 20px;
margin: 20px;
width: 250px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
text-align: center;
}



.materias button {
margin-top: 10px;
padding: 10px;
background-color: #ff1493;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}

.materias button:hover {
background-color: #c71585;
}

.footer {
background-color: #6a0dad;
color: white;
text-align: center;
padding: 20px;
margin-top: 40px;
}